<template name="component">
	<div class="col-lg-6">
		<div class="bs-component">
			<form class="main">
	          	<div class="well-main">
	            	<div class="modal-header">
						<button type="button" 
							class="close glyphicon glyphicon-remove btn-sm" data-dismiss="modal" aria-hidden="true"></button>
						<h4 class="modal-title">Modal title</h4>
					</div>
	            <div class="modal-body">
	            	{{#each componentFields}}
	              		{{> UI.dynamic template="field" data=this}}
	              	{{/each}}
	            </div>
	            
	            <div class="modal-footer">
	              	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				  	<button type="submit" class="btn btn-primary">Save changes</button>
	            </div>
				</div>
			</form> 
	  	</div>
	</div>
</template>
<template name="field">
	<div class="form-group">
		{{> UI.dynamic template=this.type data=this}}
	</div>
</template>

<template name="text">
	<label class="control-label" for="inputDefault">{{this.name}}</label>
	<input name="{{this._id}}" type="text" class="form-control" id="inputDefault">
</template>
<template name="float">
	<label class="control-label" for="inputDefault">{{this.name}}</label>
	<input name="{{this._id}}" type="text" class="form-control" id="inputDefault">
</template>